$color-white: #fff;
$color-black: #000;
$color-status-font: rgba(255, 255, 255, 0.85);
$color-placeholder: rgba(223, 222, 223, 1);
$color-aqua: #0a84ff;
$color-titlebar: #1e1e1e;
$color-title-font: rgba(235, 235, 245, 0.6);
$color-section-dark: #282828;
$color-font: #dfdedf;
$color-red: #ed6a5f;
$color-yellow: #f5bf4f;
$color-green: #61c554;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  caret-color: $color-aqua;
}

.hidden {
  display: none !important;
}

.red {
  background-color: $color-red;
}

.yellow {
  background-color: $color-yellow;
}

.green {
  background-color: $color-green;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

body * {
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 2px;
  width: 100%;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(4px);
  color: $color-status-font;
  z-index: 1;
  padding: 0px 10px;
  font-size: 13.5px;
  font-weight: 700;
  line-height: 16.11px;

  .status__logo {
    width: 15px;
    height: 19px;
    padding: 1px 9px 4px;
    box-sizing: content-box;
  }

  .status__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 3px;

    span {
      min-width: 160px;
    }

    #greeting {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;
    }

    #clock {
      min-width: 160px;
      text-align: right;
    }
  }
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.login {
    backdrop-filter: blur(4px);
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .login__profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../img/ico-finder.svg');
    background-position: center;
    background-size: 130%;
  }

  input {
    width: 162px;
    height: 28px;
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 14.32px;
    outline: none;
    border: none;
  }
  input:placeholder {
    color: $color-placeholder;
  }
}

.todo {
  position: absolute;
  top: 50px;
  left: 33px;
  width: 250px;
  min-height: 300px;
  min-height: 400px;
  background-color: $color-section-dark;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  // Input
  #todo-form {
    padding: 10px 10px;

    span {
      color: $color-white;
    }

    input {
      outline: none;
      border: none;
      background-color: transparent;
      color: $color-white;
    }
  }

  #todo-list {
    padding: 10px;
    color: $color-font;
    font-size: 14px;

    li {
      margin-bottom: 4px;
    }
  }
}

.title-bar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 28px;
  background-color: $color-titlebar;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  color: $color-title-font;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.51px;

  .title-bar__btns {
    flex-shrink: 0;
    display: flex;
    gap: 8px;

    .btns__btn {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  .title-bar__title {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    text-align: center;
    text-align: center;
  }
}

.widget {
  position: absolute;
  height: 80%;
  top: 24px;
  right: 0px;
  padding: 16px;
  border-radius: 4px 0 0 4px;
  background-color: rgba(#000, 0.05);
  backdrop-filter: blur(2px);

  #quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-titlebar;
    color: $color-white;
    width: 300px;
    height: 125px;
    border-radius: 21px;
    padding: 20px;

    span {
      &:first-child {
        font-size: 14px;
        font-weight: 700;
      }

      &:last-child {
        font-size: 12px;
        color: $color-aqua;
        align-self: end;
      }
    }
  }
}

// Footer
footer {
  margin: 0 auto 4px;

  nav {
    min-width: 300px;
    height: 92px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0 auto;

    ul {
      display: flex;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        width: 76px;
        height: 76px;

        a {
          display: block;
          width: 76px;
          height: 76px;
        }

        img {
          width: 100%;
          height: 100%;

          &.naver,
          &.git,
          &.blog {
            padding: 7px;
            border-radius: 21px;
            overflow: hidden;
          }
        }
      }
    }

    .trash {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;

      .line {
        width: 1px;
        height: 64px;
        background: rgba(255, 255, 255, 0.3);
        margin-right: 16px;
      }

      img {
        width: 62px;
        height: 62px;
      }
    }
  }
}
